/* /////////////// FOR NAV DISPLAYS ONLY ///////////////////// */
@media (min-width: 1201px) {
  /* ////////////////// */
  .floating__nav__items {
    display: none;
  }
}

/* *** Desktops *** */
@media (min-width: 1024px) and (max-width: 1200px) {
  /* ////////////////// */
  .floating__nav__items {
    display: none;
  }
}

/* *** Laptops *** */
@media (min-width: 769px) and (max-width: 1023px) {
  /* ////////////////// */
  .floating__nav__items {
    display: none;
  }
}

/* *** Tablets *** */
@media (min-width: 481px) and (max-width: 768px) {
  /* ////////////////// */
  .header__navLinks {
    display: none;
  }
}

/* *** Mobile phones *** */
@media (min-width: 320px) and (max-width: 480px) {
  /* ////////////////// */
  .header__navLinks {
    display: none;
  }

  .container {
    padding: 0 3rem 0 3rem;
  }

  .logo__container a {
    font-size: 1.5rem;
  }

  .cv__container {
    gap: 1rem;
  }

  .cv__container a {
    font-size: 1.3rem;
  }

  .cv__container i {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .download__container {
    padding: 0 1.3rem 0 1.3rem;
  }

  /* *** HERO-SECTION *****/

  .hero-section {
    margin-top: 7.6rem;
    grid-template-columns: 1fr;
  }

  .hero__image {
    width: 80%;
  }

  .hero__text {
    font-size: 1.5rem;
  }

  .hero__text h6,
  .normal {
    font-size: 2.1rem;
  }
}

/* /////////////// FOR NAV DISPLAYS ONLY ///////////////////// */
/* *** Smaller  phones *** */
@media (max-width: 319px) {
  /* ////////////////// */
  .header__navLinks {
    display: none;
  }
}
