/* /////////////// FOR NAV DISPLAYS ONLY ///////////////////// */
@media (min-width: 1201px) {
  /* ////////////////// */
  .floating__nav__items {
    display: none;
  }

  .hero-section {
    grid-template-columns: 60% 40%;
    gap: 0;
    /* padding-right: 3rem; */
    padding-left: 8rem;
  }

  .hero__image-container {
    order: 2;
    justify-content: start;
  }

  .hero__image {
    width: 66%;
  }

  .hero__text {
    font-size: 3rem;
    order: 1;
    align-items: flex-start;
  }

  .hero__text h6,
  .normal {
    font-size: 3.5rem;
    display: flex;
  }

  .about__descriptions p {
    margin-top: 3rem;
    font-size: 1.8rem;
  }

  .about__contents {
    padding: 3rem 5rem 3rem 5rem;
  }

  .skills__contents,
  .projects__contents,
  .footer__contents {
    padding: 0 5rem 0 5rem;
  }

  .skills__grid {
    grid-template-columns: 1fr 1fr;
  }

  .frontEnd__heading,
  .otherSkills__heading {
    font-size: 1.9rem;
  }

  .line-one i,
  .line-two i,
  .line-one h4,
  .line-two h4 {
    font-size: 1.8rem;
  }

  .height {
    height: 120px;
  }

  .projects__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .first__box {
    justify-content: space-around;
  }

  .footer__name {
    font-size: 2.4rem;
  }

  .phone i {
    font-size: 2.9rem;
  }

  .phone a,
  .footer__number,
  .second__box a {
    font-size: 1.9rem;
  }

  .fouth__box h6 {
    font-size: 1.7rem;
  }
}

/* *** Desktops *** */
@media (min-width: 1024px) and (max-width: 1200px) {
  /* ////////////////// */
  .floating__nav__items {
    display: none;
  }

  .hero-section {
    grid-template-columns: 60% 40%;
    gap: 0;
    padding-right: 3rem;
    padding-left: 10rem;
  }

  .hero__image-container {
    order: 2;
    justify-content: start;
  }

  .hero__image {
    width: 60%;
  }

  .hero__text {
    font-size: 2.5rem;
    order: 1;
    align-items: flex-start;
  }

  .hero__text h6,
  .normal {
    font-size: 3rem;
    display: flex;
  }

  .about__descriptions p {
    margin-top: 3rem;
  }

  .about__contents {
    padding: 3rem 5rem 3rem 5rem;
  }

  .skills__contents,
  .projects__contents,
  .footer__contents {
    padding: 0 5rem 0 5rem;
  }

  .skills__grid {
    grid-template-columns: 1fr 1fr;
  }

  .height {
    height: 120px;
  }

  .projects__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .first__box {
    justify-content: space-around;
  }

  .footer__name {
    font-size: 2.4rem;
  }

  .phone i {
    font-size: 2.9rem;
  }

  .phone a,
  .footer__number,
  .second__box a {
    font-size: 1.9rem;
  }

  .fouth__box h6 {
    font-size: 1.7rem;
  }
}

/* *** Laptops *** */
@media (min-width: 769px) and (max-width: 1023px) {
  /* ////////////////// */
  .floating__nav__items {
    display: none;
  }

  .hero-section {
    grid-template-columns: 60% 40%;
    gap: 0;
    padding-right: 3rem;
    padding-left: 10rem;
  }

  .hero__image-container {
    order: 2;
  }

  .hero__image {
    width: 70%;
  }

  .hero__text {
    font-size: 1.5rem;
    order: 1;
    align-items: flex-start;
  }

  .about__descriptions p {
    margin-top: 3rem;
  }

  .hero__text h6,
  .normal {
    display: flex;
  }

  .about__contents {
    padding: 3rem 5rem 3rem 5rem;
  }

  .skills__contents,
  .projects__contents,
  .footer__contents {
    padding: 0 5rem 0 5rem;
  }

  .skills__grid {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .line-one i,
  .line-two i,
  .line-one h4,
  .line-two h4 {
    font-size: 1.3rem;
  }

  .height {
    height: 120px;
  }

  .projects__grid {
    margin-top: 3rem;
    grid-template-columns: 1fr 1fr;
  }

  .first__box {
    justify-content: space-around;
  }

  .footer__name {
    font-size: 2.4rem;
  }

  .phone i {
    font-size: 2.9rem;
  }

  .phone a,
  .footer__number,
  .second__box a {
    font-size: 1.9rem;
  }

  .fouth__box h6 {
    font-size: 1.7rem;
  }
}

/* *** Tablets *** */
@media (min-width: 481px) and (max-width: 768px) {
  /* ////////////////// */

  .floating__nav__items {
    gap: 5rem;
  }

  .hero__image {
    width: 100%;
  }

  .header__navLinks {
    display: none;
  }

  .hero-section {
    grid-template-columns: 65% 35%;
    gap: 0;
    padding-right: 3rem;
    padding-left: 2rem;
  }

  .hero__text {
    font-size: 1.5rem;
    order: 1;
    align-items: flex-start;
  }

  .hero__handles .bx {
    font-size: 2.5rem;
  }

  .hero__image-container {
    justify-content: flex-start;
    order: 2;
  }

  .hero__text h6,
  .normal {
    display: flex;
    font-size: 2rem;
  }

  .about__descriptions p {
    margin-top: 3rem;
  }

  .about__contents {
    padding: 3rem 3rem 3rem 3rem;
  }

  .skills__contents,
  .projects__contents {
    padding: 0 3rem 0 3rem;
  }

  .projects__grid {
    grid-template-columns: 1fr;
  }

  .first__box {
    justify-content: space-around;
  }

  .footer__name {
    font-size: 2.2rem;
  }

  .phone i {
    font-size: 2.7rem;
  }

  .phone a,
  .footer__number,
  .second__box a {
    font-size: 2rem;
  }

  .fouth__box h6 {
    font-size: 1.5rem;
  }
}

/* *** Mobile phones *** */
@media (min-width: 341px) and (max-width: 480px) {
  /* ////////////////// */

  .header__navLinks {
    display: none;
  }

  .container {
    padding: 0 3rem 0 3rem;
  }

  .logo__container a {
    font-size: 1.5rem;
  }

  .cv__container {
    gap: 1rem;
  }

  .cv__container a {
    font-size: 1.3rem;
  }

  .cv__container i {
    font-size: 1.8rem;
    line-height: 3rem;
  }

  .download__container {
    padding: 0 1.3rem 0 1.3rem;
  }

  /* *** HERO-SECTION *****/

  .hero-section {
    margin-top: 7.6rem;
    grid-template-columns: 1fr;
  }

  .hero__image {
    width: 75%;
  }

  .hero__text {
    font-size: 1.5rem;
  }

  .hero__text h6,
  .normal {
    font-size: 2.1rem;
  }
}

/* /////////////// FOR NAV DISPLAYS ONLY ///////////////////// */
/* *** Smaller  phones *** */
@media (max-width: 340px) {
  /* ////////////////// */

  .header__navLinks {
    display: none;
  }

  .container {
    padding: 0 1.5rem 0 1.5rem;
  }
  .floating__nav__items {
    gap: 2rem;
  }

  .logo__container a {
    font-size: 1.3rem;
  }

  .cv__container {
    gap: 1rem;
  }

  .cv__container a {
    font-size: 1rem;
    line-height: 2.4rem;
  }

  .cv__container i {
    font-size: 1.5rem;
  }

  .hero-section {
    grid-template-columns: 1fr;
  }

  .hero__image {
    width: 70%;
  }
  .hero__text {
    font-size: 1.3rem;
  }

  .hero__text h6,
  .normal {
    font-weight: 500;
    font-size: 1.7rem;
    line-height: 100%;
  }

  .hero__handles .bx {
    font-size: 2rem;
  }

  .about__heading {
    font-size: 1.5rem;
  }

  .about__descriptions p {
    font-size: 1.3rem;
  }

  .line-one i,
  .line-two i,
  .line-one h4,
  .line-two h4 {
    font-size: 1.2rem;
  }

  .phone i {
    font-size: 1.5rem;
  }

  .phone a,
  .footer__number,
  .second__box a {
    font-size: 1.1rem;
  }

  .third__box i {
    font-size: 2.3rem;
  }
}
